.App {
  text-align: center;
  background-color:antiquewhite;
  height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.admissions{
  justify-content: center;
  margin-top: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  text-align: center;
}
.register  {
  background-color:rgb(102, 7, 7);
  color:rgb(232, 232, 232);
  padding: 10px;
  margin: 0px;
}
.button{
  color: #09011a;
  background-color: rgb(10, 73, 219);
}
.login{
  background-color:rgb(102, 7, 7);
  color:rgb(232, 232, 232);
  padding: 3px;
  margin: 0px;
}
.navbar
{
  background-color: white;
}
.brand
{
  color: red;
  float:left;
  margin-left:40px
}
.brandImage{
  float:left;
  width:50px;
  height:50px;
  margin-top:10px;
  margin-left:10px;
}
.addBox{
  display:none;
}

#show{
  display: block;
}
.addInstituteForm{
  margin-top:30px;
 justify-content: center;
}
.instituteTable{
  margin-left:27%;
  margin-top: 50px;
 width:700px;
  border: 2px solid black;
}
.CoursesTable{
    margin-left:27%;
    margin-top: 50px;
   width:700px;
    border: 2px solid black;
}
.navLink
{
  color: #2e6da4;
  text-decoration: none;
  font-size: medium;
  float:left;
  margin-left:150px;
  margin-top:20px;
}

th,tr,td{
  border:2px solid black;

}
.navLink:hover{
font-size: larger;
}